<main>
   <section class="facebook">
      <div class="container">
         <h1>{{name}}</h1>
         <div class="facebook__users">
            {{#with users.[0]}}
            <div class="facebook__users-john">
               <div class="card" style="width: 18rem;">
                  <img src="./images/john-doe.png" class="card-img-top" alt="John Doe photo">
                  <div class="card-body">
                     <span class="card-text">Id: {{id}}</span>
                     <span class="card-text">Name: {{name}}</span>
                     <span class="card-text">Gender: {{gender}}</span>
                     <span class="card-text">Age: {{age}}</span>
                  </div>
               </div>
               <div class="facebook__users-friends">
                  <h2>Friends</h2>
                  {{#with friends.[0]}}
                  <b>{{name}}</b>
                  <ul>
                     <li>Id: {{id}}</li>
                     <li>Gender: {{gender}}</li>
                     <li>Age: {{age}}</li>
                     <li>Mutual-friends</li>
                     <ul>
                        {{#each mutual_friends}}
                        <i>{{this.name}}</i>
                        <ul>
                           <li>Id: {{this.id}}</li>
                           <li>Gender: {{this.gender}}</li>
                           <li>Age: {{this.age}}</li>
                        </ul>
                        {{/each}}
                     </ul>
                  </ul>
                  {{/with}}
                  {{#with friends.[1]}}
                  <b>{{name}}</b>
                  <ul>
                     <li>Id: {{id}}</li>
                     <li>Gender: {{gender}}</li>
                     <li>Age: {{age}}</li>
                     <li>Mutual-friends</li>
                     <ul>
                        {{#each mutual_friends}}
                        <i>{{this.name}}</i>
                        <ul>
                           <li>Id: {{this.id}}</li>
                           <li>Gender: {{this.gender}}</li>
                           <li>Age: {{this.age}}</li>
                        </ul>
                        {{/each}}
                     </ul>
                  </ul>
                  {{/with}}
               </div>
               <div class="facebook__users-groups">
                  <h2>Groups</h2>
                  {{#with groups.[0]}}
                  <b>{{name}}</b>
                  <ul>
                     <li>Id: {{id}}</li>
                     <li>Description: {{description}}</li>
                     <li>Members: </li>
                     <ul>
                        {{#each members}}
                        <i>{{this.name}}</i>
                        <ul>
                           <li>Id: {{this.id}}</li>
                           <li>Gender: {{this.gender}}</li>
                           <li>Age: {{this.age}}</li>
                        </ul>
                        {{/each}}
                     </ul>
                  </ul>
                  {{/with}}
                  {{#with groups.[1]}}
                  <b>{{name}}</b>
                  <ul>
                     <li>Id: {{id}}</li>
                     <li>Description: {{description}}</li>
                     <li>Members: </li>
                     <ul>
                        {{#each members}}
                        <i>{{this.name}}</i>
                        <ul>
                           <li>Id: {{this.id}}</li>
                           <li>Gender: {{this.gender}}</li>
                           <li>Age: {{this.age}}</li>
                        </ul>
                        {{/each}}
                     </ul>
                  </ul>
                  {{/with}}
               </div>
            </div>
            {{/with}}
            {{#with users.[1]}}
            <div class="facebook__users-amy">
               <div class="card" style="width: 18rem;">
                  <img src="./images/amy-lee.jpg" class="card-img-top" alt="John Doe photo" height="250">
                  <div class="card-body">
                     <span class="card-text">Id: {{id}}</span>
                     <span class="card-text">Name: {{name}}</span>
                     <span class="card-text">Gender: {{gender}}</span>
                     <span class="card-text">Age: {{age}}</span>
                  </div>
               </div>
               <div class="facebook__users-friends">
                  <h2>Friends</h2>
                  {{#each friends}}
                  <b>{{name}}</b>
                  <ul>
                     <li>Id: {{id}}</li>
                     <li>Gender: {{gender}}</li>
                     <li>Age: {{age}}</li>
                     <li>Mutual-friends:</li>
                     {{#with mutual_friends.[0]}}
                     <ul>
                        <li>{{name}}</li>
                        <ul>
                           <li>Id: {{id}}</li>
                           <li>Gender: {{gender}}</li>
                           <li>Age: {{age}}</li>
                        </ul>
                     </ul>
                     {{/with}}
                     {{#with mutual_friends.[1]}}
                     <ul>
                        <li>{{name}}</li>
                        <ul>
                           <li>Id: {{id}}</li>
                           <li>Gender: {{gender}}</li>
                           <li>Age: {{age}}</li>
                           <span>Mutual-friends:</span>
                           <ul>
                              {{#each mutual_friends}}
                              <i>Name: {{name}}</i>
                              <ul>
                                 <li>Id: {{id}}</li>
                                 <li>Gender: {{gender}}</li>
                                 <li>Age: {{age}}</li>
                              </ul>
                              {{/each}}
                           </ul>
                        </ul>
                     </ul>
                     {{/with}}
                     <div class="facebook__users-groups">
                        <h4>Groups</h4>
                        {{#with groups.[0]}}
                        <b>{{name}}</b>
                        <ul>
                           <li>Id: {{id}}</li>
                           <li>Description: {{description}}</li>
                           <li>Members: </li>
                           {{#each members}}
                           <ul>
                              <i>{{name}}</i>
                              <ul>
                                 <li>Id: {{id}}</li>
                                 <li>Gender: {{gender}}</li>
                                 <li>Age: {{age}}</li>
                              </ul>
                           </ul>
                           {{/each}}
                        </ul>
                        {{/with}}
                        {{#with groups.[1]}}
                        <b>{{name}}</b>
                        <ul>
                           <li>Id: {{id}}</li>
                           <li>Description: {{description}}</li>
                           <li>Members: </li>
                           {{#each members}}
                           <ul>
                              <i>{{name}}</i>
                              <ul>
                                 <li>Id: {{id}}</li>
                                 <li>Gender: {{gender}}</li>
                                 <li>Age: {{age}}</li>
                              </ul>
                           </ul>
                           {{/each}}
                        </ul>
                        {{/with}}
                     </div>
                  </ul>
                  {{/each}}
               </div>
            </div>
            {{/with}}
         </div>
      </div>
   </section>
</main>