{{#with program}}
<main>
   <section class="program">
      <div class="container">
         {{#with excursion}}
         <div class="excursion">
            <img class="excursion__img" src="/images/paris/photo-paris.png" alt="photo paris tower" width="250"
               height="220">
            <div class="excursion__content">
               <h1 class="excursion__name">{{name}}</h1>
               <span>Location:</span>
               <ul>
                  {{#with location}}
                     <li>{{city}}</li>
                     <li>{{country}}</li>
                  {{/with}}
               </ul>
               <span class="excursion__age">Date: {{date}}</span>
            </div>
         </div>
         <div class="program">
            <div class="program__museum">
               <div class="program__museum-title">
                  <img src="/images/program.png" alt="program icon" width="30" height="30">
                  <span>{{> title data="Program" big=true}}</span>
               </div>
               <div class="program__museum-visit">
                  <img class="program__museum-img" src="/images/paris/museum.jpg" alt="museum photo" width="100"
                     height="100">
                  <div class="program__museum-block">
                     <h3>{{program.[0].name}}</h3>
                     <ul>
                        <li>Type: {{program.[0].type}}</li>
                        <li>Duration: {{program.[0].duration}}</li>
                     </ul>
                  </div>
               </div>
               <div class="program__museum-details">
                  {{#with program.[0].details.museum}}
                  <em>Details:</em>
                  <span>Name: {{name}}</span>
                  <span>Location:</span>
                  <ul>
                     {{#with location}}
                     <li>Address: {{address}}</li>
                     <li>City: {{city}}</li>
                     <li>Country: {{country}}</li>
                     {{/with}}
                  </ul>
                  <span>Exhibits:</span>
                  <ul>
                     <em>{{exhibits.[0].name}}</em>
                     <li>{{exhibits.[0].artist}}</li>
                     <li>{{exhibits.[0].description}}</li>
                     {{#if exhibits.[0].audio_guide}}
                     <li>Audio-guide: Yes</li>
                     {{else}}
                     <li>Audio-guide: No</li>
                     {{/if}}
                  </ul>
                  <ul>
                     <em>{{exhibits.[1].name}}</em>
                     {{#unless exhibits.[1].artist}}
                     <li>Artist: unknown</li>
                     {{/unless}}
                     <li>{{exhibits.[1].description}}</li>
                     {{#if exhibits.[1].audio_guide}}
                     <li>Audio-guide: Yes</li>
                     {{else}}
                     <li>Audio-guide: No</li>
                     {{/if}}
                  </ul>
                  {{/with}}
                  <span>Guide:</span>
                  <div class="program__museum-guide">
                     <img class="program__museum-img" src="/images/guid-museum.jpg" alt="guid photo" width="75"
                        height="75">
                     <div>
                        {{#with program.[0].details.guide}}
                        <b>{{name}}</b>
                        <span>Language: {{language}}</span>
                        <span>Rating: {{rating}}</span>
                        {{/with}}
                     </div>
                  </div>
               </div>
            </div>
            <div class="program__show">
               <div class="program__show-visit">
                  <img class="program__museum-img" src="/images/paris/show.jpg" alt="show photo" width="100"
                     height="100">
                  <div class="program__museum-block">
                     <h3>{{program.[1].name}}</h3>
                     <ul>
                        <li>Type: {{program.[1].type}}</li>
                        <li>Duration: {{program.[1].duration}}</li>
                     </ul>
                  </div>
               </div>
               <div class="program__show-details">
                  <em>Details:</em>
                  {{#with program.[1].details.venue}}
                  <span>Venue: {{name}}</span>
                  <span>Location:</span>
                  <ul>
                     {{#with location}}
                     <li>Address: {{address}}</li>
                     <li>City: {{city}}</li>
                     <li>Country: {{country}}</li>
                     {{/with}}
                  </ul>
                  {{/with}}
                  {{#with program.[1].details}}
                  <span>Performers:</span>
                  <ul>
                     <em>{{performers.[0].name}}</em>
                     <li>Type: {{performers.[0].type}}</li>
                     <em>{{performers.[1].name}}</em>
                     <li>Type: {{performers.[1].type}}</li>
                  </ul>
                  {{/with}}
                  <span>Guide:</span>
                  <div class="program__show-guide">
                     <img class="program__show-img" src="/images/guid-show.jpg" alt="guid photo" width="75" height="75">
                     <div>
                        {{#with program.[1].details.guide}}
                        <b>{{name}}</b>
                        <span>Language: {{language}}</span>
                        <span>Rating: {{rating}}</span>
                        {{/with}}
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {{/with}}
      </div>
   </section>
</main>
{{/with}}