<main>
   <div class="container-shop">
      <div class="wrapper">
         <section class="navigation mb-4">
            {{#with navigation}}
            <div class="row">
               <div class="col-12">
                  {{> navigation}}
               </div>
            </div>
            {{/with}}
         </section>
         <section class="news-block mb-4">
            {{#with newsBlock}}
            <h2 class="text-center fs-1 mb-5">{{title}}</h2>
            <div class="row g-3">
               {{#each cards}}
               <div class="col-3">
                  <div class="card text-bg-dark">
                     <div class="card-header">
                        <span class="card-title">{{title}}</span>
                        {{#if isTop}}
                        <span class="badge text-bg-success rounded-pill
                           text-uppercase">Топ</span>
                        {{/if}}
                        {{#if isNew}}
                        <span class="badge text-bg-danger rounded-pill
                           text-uppercase">Нова</span>
                        {{/if}}
                     </div>
                     <div class="card-body">{{description}}</div>
                  </div>
               </div>
               {{/each}}
            </div>
            {{/with}}
         </section>
         <hr>
         <section class="goods-block mb-4">
            {{#with goodsBlock}}
            <div class="tabs row mb-5">
               <div class="col">
                  <ul class="nav nav-tabs pt-3 fs-5">
                     {{#each tabs}}
                     <div class="nav-item">
                        <a class="nav-link {{#if isActive}} active {{/if}} {{#if isDisabled}} disabled {{/if}} fw-medium" href="#">{{this.text}}</a>
                     </div>
                     {{/each}}
                  </ul>
               </div>
            </div>
            {{> cardVerticalImg}}
            {{/with}}
         </section>
         <hr>
         <section class="subscribe py-3">
            {{#with subscribe}}
            {{> subscribe-block}}
            {{/with}}
         </section>
         <hr>
         <section class="service py-3">
            {{#with service}}
            <div class="row">
               <div class="col-12">
                  <div class="card text-bg-success text-center">
                     <div class="card-body">
                        <h2 class="card-title">{{title}}</h2>
                        <p>{{description}}</p>
                        {{#each buttons}}
                        <button class="btn btn-primary" href="{{link}}">{{text}}</button>
                        {{/each}}
                     </div>
                  </div>
               </div>
            </div>
            {{/with}}
         </section>
         <hr>
         <footer class="footer-shop mb-4">
            {{> footer-shop}}
         </footer>
      </div>
   </div>
</main>